.groups 
  .group
    %p.group__group-name tech
    %p.group__group-message hello
  .group
    %p.group__group-name tech
    %p.group__group-message hello
  .group
    %p.group__group-name tech
    %p.group__group-message hello
  .group
    %p.group__group-name tech
    %p.group__group-message hello
  .group
    %p.group__group-name tech
    %p.group__group-message hello
  .group
    %p.group__group-name tech
    %p.group__group-message hello
  .group
    %p.group__group-name tech
    %p.group__group-message hello
  .group
    %p.group__group-name tech
    %p.group__group-message hello
  .group
    %p.group__group-name tech
    %p.group__group-message hello
  .group
    %p.group__group-name tech
    %p.group__group-message hello
  .group
    %p.group__group-name tech
    %p.group__group-message hello
  .group
    %p.group__group-name tech
    %p.group__group-message hello
  .group
    %p.group__group-name tech
    %p.group__group-message hello
  .group
    %p.group__group-name tech
    %p.group__group-message hello
  .group
    %p.group__group-name tech
    %p.group__group-message hello
  .group
    %p.group__group-name tech
    %p.group__group-message hello
  .group
    %p.group__group-name tech
    %p.group__group-message hello