.message
  .upper-info
    %p.upper-info__user Yuki Mizoguchi
    %p.upper-info__date 2019.4.29
  %p.message__text hello
.message
  .upper-info
    %p.upper-info__user Yuki Mizoguchi
    %p.upper-info__date 2019.4.29
  %p.message__text hello
.message
  .upper-info
    %p.upper-info__user Yuki Mizoguchi
    %p.upper-info__date 2019.4.29
  %p.message__text hello
.message
  .upper-info
    %p.upper-info__user Yuki Mizoguchi
    %p.upper-info__date 2019.4.29
  %p.message__text hello
.message
  .upper-info
    %p.upper-info__user Yuki Mizoguchi
    %p.upper-info__date 2019.4.29
  %p.message__text hello
.message
  .upper-info
    %p.upper-info__user Yuki Mizoguchi
    %p.upper-info__date 2019.4.29
  %p.message__text hello
.message
  .upper-info
    %p.upper-info__user Yuki Mizoguchi
    %p.upper-info__date 2019.4.29
  %p.message__text hello
.message
  .upper-info
    %p.upper-info__user Yuki Mizoguchi
    %p.upper-info__date 2019.4.29
  %p.message__text hello
.message
  .upper-info
    %p.upper-info__user Yuki Mizoguchi
    %p.upper-info__date 2019.4.29
  %p.message__text hello
.message
  .upper-info
    %p.upper-info__user Yuki Mizoguchi
    %p.upper-info__date 2019.4.29
  %p.message__text hello
.message
  .upper-info
    %p.upper-info__user Yuki Mizoguchi
    %p.upper-info__date 2019.4.29
  %p.message__text hello
.message
  .upper-info
    %p.upper-info__user Yuki Mizoguchi
    %p.upper-info__date 2019.4.29
  %p.message__text hello
.message
  .upper-info
    %p.upper-info__user Yuki Mizoguchi
    %p.upper-info__date 2019.4.29
  %p.message__text hello